#contenedor{
	margin: 5% auto;
}

a.btnLink{
	background-color: #8BB8D6 !important;
	color: #ffffff !important;
	font-weight: normal;
}

p{
	font-size: .8em;
}

h3{
	margin: auto;
}

img{
	float: left;
}

table{
	width: 100%;
	height: 100%;
	border-collapse: separate;
	border-spacing: 5px;

	text-align: center;
}

table th{
	padding: 0% 1.5%;
}

table td{
	padding: 0% 1.5%;
	background-color: #f7f7f7;
}

table tbody tr th:first-child{
	text-align: right;
	background-color: #5CD65C;
	color: #2B3075;
}

table tbody tr td:first-child{
	background-color: #f7f7f7;
	border: none;
}

/*label{
	margin-right: 1px !important;
	display: inline-block !important;
	background-color: #8BB8D6;
	color: #000000;
	padding: .5%;
	width: 50%;
	border: 1px solid #6F93AB;
}*/

div#bienvenida{
	text-align: justify;
}

div#bienvenida p{
	color: #07075B;
	font-size: .7em;
	font-weight: bold;
}

div#contrato{
	 height:200px;
	 padding: 10px;
	 background:#ffffff;
	 overflow: scroll;
}

div#siguiente{
	margin: auto;
	max-width: 80%;
}

.ui-btn{
	padding: 4px !important;
}

.ui-btn-icon-right{
	padding-right: 2.5em !important;
}

@media (min-width: 640px) {

	#contenedor{
		width: 80%;
	}

	div#siguiente{
		max-width: 40%;
	}
	
}

@media (min-width: 768px) {
	
	#contenedor{
		width: 70%;
	}

}

@media (min-width: 1024px) {
	
}